
*
{
    margin : 0;
    padding: 0;
}
body
{
    font-size: Arial,sans-serif ;
}

.wrapper
{   
    position: relative;
    /* background-color: green; */
    width: 1400px;
    height: 500px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    /* border : 5px solid black; */
}



header{
    position:relative;
    width: auto;
    height: 150px;
}


h1.titre_head{
    font-weight: bold;
    display: inline;
    position: absolute ;
    top : 15px;
    left: 40px;
    font-size: 40px;
}

span.point
{
    color: orangered;
    font-size: 60px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    ;
}

li
{   
    position: relative;
    font-weight: bold;
    display: inline;
    margin: 5px;
}

li:hover{
    color: orangered;
}

#menu-list
{   
    position: absolute;
    top : 50px;
    right : 30px;
}



#main_image_container
{   
    position: relative;
    width: auto;
    height: auto;
    /* border : 5px solid black; */
}

.main_image
{   
    width: 100%;
    height:100%;
    margin-bottom: -5px;
}

.text-image
{   
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -80%);
}

section p .text-orga
{   
    font-weight: bold;
    font-size: 60px;
}

section p .text-voya
{
    font-size: 30px;
}

#main_image_container .button-image
{   
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height:70px;
    background-color: orange;
    border: 0px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 20px;
}

#main_image_container .button-image:hover{
    background-color:paleturquoise;
}


#steps
{   
    position: relative;
    height: auto;
    width: auto;
    /* background-color: greenyellow; */
    /* border : 5px solid black; */
}


#steps .act1 {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-150%);
    padding-bottom : 30px;
}

#steps .act2 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom : 30px;
    transform: translate(-50%,-150%);
}

#steps .act3 {
    position: absolute;
    top: 50%;
    left: 75%;
    padding-bottom : 30px;
    transform: translate(-50%,-150%);
}

p.planifier{
    position: absolute;
    top: 50%;
    left: 25%;
    font-weight: bold;
    font-size: 30px;
    color: rgb(61, 61, 61);
    transform: translate(-50% ,-150%);
}



p.organiser{
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 30px;
    color: rgb(61, 61, 61);
    transform: translate(-50% ,-150%);
}



p.voyager{
    position: absolute;
    top: 50%;
    left: 75%;
    font-weight: bold;
    font-size: 30px;
    color: rgb(61, 61, 61);
    transform: translate(-50% ,-150%);
}



p.plan-text{
    text-align: center;
    position: absolute;
    width: 300px;
    top: 77%;
    left: 25%;
    font-size: 20px;
    color: rgb(110, 110, 110);
    transform: translate(-50% ,-150%);
}

p.orga-text{
    text-align: center;
    position: absolute;
    width: 300px;
    top: 77%;
    left: 50%;
    font-size: 20px;
    color: rgb(110, 110, 110);
    transform: translate(-50% ,-150%);
}


p.voy-text{
    text-align: center;
    position: absolute;
    width: 300px;
    top: 71%;
    left: 75%;
    font-size: 20px;
    color: rgb(110, 110, 110);
    transform: translate(-50% ,-150%);
}


#possibilities{
    position: relative;
    /* border : 5px solid black; */
    width : auto;
    height: 400px; 
}


#possibilities .im-art1{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50% ,-50%);
    border-radius: 20px;
}


#possibilities .im-art2{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50% ,-50%);
    border-radius: 20px;

}

section .act1-champs{
    text-align: center;
    position: absolute;
    background-color: rgba(255, 255, 255,0.8);
    width: 230px;
    height: 270px;
    border-radius: 20px;
    top: 50%;
    left: 20%;
    transform: translate(-50% ,-50%);
     
} 

#possibilities .wrapper 
{   
    height: 300px ;
    padding: 60px 0px ;
    background-color: rgb(219, 219, 219);

}


#id-art1{
    position: absolute;
    left : 30%;
    top : 50%;
    transform: translate(-50%,-50%);
    background-image: url("img/article-image-1.jpg") ;
    width: 460px;
    height:270px;
    text-align: center;
    border-radius: 10px;

}


#id-art2{
    position: absolute;
    left : 70%;
    top : 50%;
    transform: translate(-50%,-50%);
    background-image: url("img/article-image-2.jpg") ;
    width: 460px;
    height:270px;
    text-align: center;
    border-radius: 10px;
}

.overlay{
    background-color: rgba(255,255,255,0.90);
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
}

.overlay h4{
    font-size: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;

}

.text-art{
    padding-top :20px;
    padding-bottom: 20px;;
}

.button-art{
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.button-art:hover{
    background-color: paleturquoise;
    
}

.clear{
    clear: both;
}


/* Contact */

#contact .wrapper{
    margin-top: 0px;
    width : 1000px;
}

#contact {

    padding: 100px 0px;
    text-align: center;
}

#contact .wrapper h3{
    margin: 0px auto;
    /* background-color: aqua; */
    width:400px;
    border-bottom: 3px solid #02b8dd;
    font-size: 30px;
    color: #444;
    margin-bottom: 30px;
    padding-bottom: 30px;

}

#contact .wrapper p{
    color:rgb(61, 61, 61);
    font-size: 25px;
    padding: 20px 0px;
}

form{
    margin : 60px 0px 20px 0px ;
}


label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}

input[type="text"]{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(146, 146, 146); 
    font-size: 20px;
    margin-right: 20px;
}

.button-form{
    color: white;
    font-size: 20px;
    background-color: #02b8dd;
    font-weight: bold;
    border-style: none;
    padding: 10px;
}

.button-form:hover{
    background-color: #444;

}

footer .wrapper{
    width: auto;
    text-align: center;
    background-color: #444;
}


footer .wrapper p{
    color: white;
    font-size: 100px;
    padding-top: 200px;
    font-weight: bold;
}

